<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoogleAdsDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05C4C73D2D5F210500D8E6C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C4C7532D5F210700D8E6C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C4C75D2D5F210700D8E6C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
